*#*#
*.#*
*.beam
*.dump
*.~
.DS_Store
TAGS
tags
db/
dets/
logs/
ebin/hypernumbers.*
variables-*


## Script used for fetching svn externals
lib/git-svn-*

## Variable Config
priv/hypernumbers.conf

## Documentation
lib/formula_engine*/doc/*.html
lib/hypernumbers*/doc/*.html
lib/read_excel*/doc/*.html

## Runtime Files
lib/hypernumbers*/log
lib/hypernumbers*/priv/docroot/hypernumbers/*.html.??_*
lib/hypernumbers*/src/ms_util2.erl

## Generated lexers/parsers
lib/gettext/priv/
lib/formula_engine*/priv/*_lexer.xrl
priv/muin/*.xrl
lib/formula_engine*/src/*_lexer.erl
lib/formula_engine*/src/*_parser.erl
lib/formula_engine*/src/superlex.erl

## Generated Test Files
tests/common_test-*/priv/bin/
tests/excel_import_*
tests/system_test/*_SUITE.erl


