*#*#
*.#*
*.beam
*.dump
*.~
.DS_Store
TAGS
tags
var
ebin/hypernumbers.*
lib/*/ebin/*.erl
lib/hypernumbers*/src/ms_util2.erl


## Script used for fetching svn externals
lib/git-svn-*

## Variable Config
conf/sys.config

## Documentation
lib/formula_engine*/doc/*.html
lib/hypernumbers*/doc/*.html
lib/read_excel*/doc/*.html

## Runtime Files
lib/hypernumbers*/log
lib/hypernumbers*/priv/docroot/hypernumbers/*.html.??_*
lib/hypernumbers*/priv/docroot/views/
lib/hypernumbers*/tmp

## Generated lexers/parsers
lib/gettext/priv/
lib/formula_engine*/src/*_lexer.erl
lib/formula_engine*/src/*_parser.erl
lib/formula_engine*/src/superlex.erl

## Generated Test Files
tests/excel_import_*
tests/system_test/*_SUITE.erl
tests/cover.data
