* 
{ 
    font:   11px "Lucida Grande","Lucida Sans Unicode","Helvetica Neue", sans-serif; 
    margin: 0px; 
    padding:0px; 
}

body
{
    overflow:hidden;
}

h2 
{
    font: bold 18px "Lucida Grande","Lucida Sans Unicode","Helvetica Neue", sans-serif;  
}

p
{
    padding: 5px 0px;
}

hr 
{
    margin-bottom:5px;
}

strong
{
    font-weight:bold;
}

#header
{
    background:     #000;
    border-bottom:  4px solid #888;
}

#header img 
{
    margin:         3px 10px;
}

#menu
{
    height:26px;
}

#menu li
{
    font:   11px "Lucida Grande","Lucida Sans Unicode","Helvetica Neue", sans-serif;  
    display:none;
}

#footer
{
    position:absolute;
    bottom:0px;
    border-top:1px solid #999;
    height:24px;
    background:#eee;
    width:100%;
}

#connection
{
    height:24px;
    line-height:24px;
}

#footer span,#footer img
{    
    vertical-align:middle;
}

.sep,.sep:hover
{
    overflow:hidden;
    height:1px;
    padding:0px 3px !important;
    border-bottom:1px solid #999 !important;
    background:none;
}

#flashcontent
{
    position:absolute;
    visibility:hidden;
    top:-1000px;
    height:200px;
}

#import,#texttocopy
{
    display:none;
}

.window
{
    display:none;
}

#context ul
{
    list-style-type: none;
}

#context
{
    display:    none;
    background: white;
    padding:    3px;
    position:   absolute;
    border:     1px solid #CCC;
    z-index:        9999;
}

#context a.item
{
    cursor:     pointer;
    display:    block;
    padding:    5px;
}

#context a.item:hover
{
    background: #EEE;
}

#context hr 
{
    border-top: 1px solid #EEE;
}

#context #parents,#context #children
{
    padding:    5px;
}
