* 
{ 
    font:   11px "Lucida Grande","Lucida Sans Unicode","Helvetica Neue", sans-serif; 
    margin: 0px; 
    padding:0px; 
}

body
{
    overflow:hidden;
}

h2 
{
    font: bold 18px "Lucida Grande","Lucida Sans Unicode","Helvetica Neue", sans-serif;  
}

p
{
    padding: 5px 0px;
}

hr 
{
    margin-bottom:5px;
}

strong
{
    font-weight:bold;
}

#header
{
    background:     #000;
    border-bottom:  4px solid #888;
}

#header img 
{
    margin:         3px 10px;
}

#footer
{
    position:absolute;
    bottom:0px;
    border-top:1px solid #999;
    height:24px;
    background:#eee;
    width:100%;
}

#connection
{
    height:24px;
    line-height:24px;
}

#footer span,#footer img
{    
    vertical-align:middle;
}

.sep,.sep:hover
{
    overflow:hidden;
    height:1px;
    padding:0px 3px !important;
    border-bottom:1px solid #999 !important;
    background:none;
}

#flashcontent
{
    position:absolute;
    visibility:hidden;
    top:-1000px;
    height:200px;
}

#import,#texttocopy
{
    display:none;
}

.window
{
    display:none;
}

#context ul
{
    list-style-type: none;
}

#context
{
    display:    none;
    background: white;
    padding:    3px;
    position:   absolute;
    border:     1px solid #CCC;
    z-index:        9999;
}

#context a.item
{
    cursor:     pointer;
    display:    block;
    padding:    5px;
}

#context a.item:hover
{
    background: #EEE;
}

#context hr 
{
    border-top: 1px solid #EEE;
}

#context #parents,#context #children
{
    padding:    5px;
}

#menu
{
    margin-left:5px;
    height:     24px;
}

#menu a, #menu h2
{
    background: #FFF;
    color:      #000;
    font:       11px "Lucida Grande","Lucida Sans Unicode","Helvetica Neue", sans-serif; 
    display:    block;
    white-space:nowrap;
    text-decoration:none;
    margin:     0;
}

#menu h2
{
    margin:     0px 3px;
    padding:    5px 10px 4px 10px;
}

#menu a
{
    padding:    5px 20px 4px 8px;
}

#menu a:hover
{
    background:     #eee;
    text-decoration:none;
}

#menu ul
{
    width:      auto;
    list-style: none;
    margin:     0;
    padding:    0;
    float:      left;
}

#menu ul ul
{
    border:     1px solid #CCC;
}

#menu li
{
    position:   relative;
}

#menu ul ul
{
    position:   absolute;
    z-index:    500;
    top:        auto;
    display:    none;
}

#menu ul ul ul
{
    top:        0;
    left:       100%;
}

div#menu h2:hover
{
    background: #EEE;
}

div#menu li:hover
{
    cursor:     pointer;
    z-index:    100;
}

div#menu li:hover ul ul,
div#menu li li:hover ul ul,
div#menu li li li:hover ul ul,
div#menu li li li li:hover ul ul
{display:none;}

div#menu li li:hover ul,
div#menu li li li:hover ul,
div#menu li li li li:hover ul
{display:block;}

#menu a.x, #menu a.x:visited
{
    color:          #000;
    background:     #FFF url(../img/arrow.png) no-repeat 100% 50%;
}

#menu a.x:hover
{
    background:     #EEE url(../img/arrow.png) no-repeat 100% 50%;
}


