.fp4_box 
{ 
  background-color: black;
  background: -webkit-gradient(linear, 0 40%, 0 70%, from(#222222), to(#000000));
  background: -moz-linear-gradient(center top , #222222, #000000) repeat scroll 0 0 transparent;
  color: white;
  border: 1px solid #222222;
  font: 24px/1.7 Verdana, Tahoma, sans-serif;
  padding: 5px 5px 5px 15px;    
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius:12px 12px 12px 12px;
  }

.fp4_box2 
{ 
  height: 340px;
  color: black;
  background-color: white;
  /*background: -webkit-gradient(linear, 0 40%, 0 70%, from(#fffff9), to(#eeeee9));
     background: -moz-linear-gradient(center top , #fffff9, #eeeee9) repeat scroll 0 0 transparent;*/
  border: 1px solid gold;
  padding:13px 13px 17px 13px;    
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius:7px 7px 7px 7px;
  }

.fp4_box3 
{ 
  color: black;
  background-color: #FFF2A1;
  background: -webkit-gradient(linear, 0 40%, 0 70%, from(#FFF2A1), to(#FFEB8A));
  background: -moz-linear-gradient(center top , #FFF2A1, #FFEB8A) repeat scroll 0 0 transparent;
  border: 1px solid darkorange;
  padding:13px 13px 17px 13px;    
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius:7px 7px 7px 7px;
  }

.fp4_box4 
{ 
  color: black;
  background-color: #FFF;
  background: -webkit-gradient(linear, 0 40%, 0 70%, from(#FFF), to(#F9f9f9));
  background: -moz-linear-gradient(center top , #FFF, #F9f9f9) repeat scroll 0 0 transparent;
  border: 1px solid darkorange;
  padding:13px 13px 17px 13px;    
  height: 305px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius:7px 7px 7px 7px;
  }

.fp4_box5 
{ 
  float: left;
  color: black;
  background-color: white;
  /*           background: -webkit-gradient(linear, 0 40%, 0 70%, from(#FFF), to(#F9F9F9));
     background: -moz-linear-gradient(center top , #FFF, #F9F9F9) repeat scroll 0 0 transparent;*/
  border: 1px solid darkorange;
  padding:13px 13px 17px 13px;    
  height: 250px;
  width: 110px;
  margin: 0px 2px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius:7px 7px 7px 7px;
  }

.fp4_box6 
{ 
  float: left;
  color: black;
  background-color: #FFF2A1;
  background: -webkit-gradient(linear, 0 40%, 0 70%, from(#FFF2A1), to(#FFEB8A));
  background: -moz-linear-gradient(center top , #FFF2A1, #FFEB8A) repeat scroll 0 0 transparent;
  border: 1px solid darkorange;
  padding:13px 13px 17px 13px;    
  height: 250px;
  width: 140px;
  margin: 0px 2px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius:7px 7px 7px 7px;
  }

.fp4_name
{ 
  color: #888;
  font-weight: bold;
  }

.fp4_tableheader 
{ 
  text-align: center;
  font-size: 18px !important;
  padding: 7px 0px 0px 0px !important;
  color: #ccc !important;
  }

.fp4_box2 tr 
{ 
  vertical-align: top;
  }

.fp4_box2 table 
{ 
  background-color: #FEFEFE;
  background: -webkit-gradient(linear, 0 40%, 0 70%, from(#FFF), to(#EEE));
  background: -moz-linear-gradient(center top , #FFF, #EEE) repeat scroll 0 0 transparent;
  border: 2px solid #eee;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius:7px 7px 7px 7px;
  padding: 3px;
  margin: 0px 0px 7px 0px;
  }

.fp4_box2 td div 
{ 
  padding: 3px;
  font: 12px/1.2 Verdana, Tahoma, sans-serif;
  color: #999;             
  }

.fp4_plan 
{ 
  font: 18px/1.6 Verdana, Tahoma, sans-serif;
  text-align: center;
  }

.fp4_box5 div 
{ 
  font: 11px/1.6 Verdana, Tahoma, sans-serif;
  text-align: center;
  padding: 0px 0px 13px 0px;
  }

.fp4_box6 div 
{ 
  font: 15px/1.5 Verdana, Tahoma, sans-serif;
  text-align: center;
  padding: 0px 0px 8px 0px;
  }

.fp4_box5 .fp4_plan 
{ 
  color: orange;
  font-weight: bold;
  padding: 0px 0px 12px 0px;
  }

.fp4_box6 .fp4_plan 
{ 
  color: darkorange;
  font-weight: bold;
  }

.fp4_stories_right
{ 
  width: 268px;
  padding: 7px 3px 0px 0px;
  }

#fp4_stories img 
{ 
  margin: 2px 2px 15px 2px;
  -moz-box-shadow: 3px 3px 3px 3px orange;
  -webkit-box-shadow: 3px 3px 3px 3px orange;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  }

#fp4_stories > div
{ 
  display: none;
  }

.fp4_stories_text
{ 
  width: 360px;
  padding: 7px 3px 0px 0px;
  }

#fp4_stories div
{
  font: 14px/1.2 Verdana, Tahoma, sans-serif;
  color: #999;
  float: left;
  }

#fp4_backdrop
{ 
  background: #fcfcfc;
  display: block;
  border: 1px solid #f2f2f2;
  height: 160px;
  padding: 10px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius:7px 7px 7px 7px;
}

#fp4_menu 
{
  margin: 20px 0px 0px 0px;
  float:left;
  }

#fp4_menu div:hover
{
  cursor: pointer;
  }


#fp4_menu div 
{ 
  font: 14px/1.2 Verdana, Tahoma, sans-serif;
  padding: 3px 0px 0px 6px;
  color: #666;             
  background: url(http://files.hypernumbers.com/redesign/menu.png) no-repeat;
  width: 180px;
  height: 25px;
  }

#fp4_stories 
{ 
  float:right;
  }

#fp4_free 
{ 
  font: 11px/1.6 Verdana, Tahoma, sans-serif;
  color: #666;
  }

#fp4_demo, .fp4_clear 
{ 
  clear: both;
  }

#fp4_inset 
{ 
  padding: 7px 0px 0px 0px;
  }

#fp4_inset #fp4_heart 
{ 
  color: darkorange;
  font-weight: bold;
  }

#fp4_heart img 
{ 
  position: relative;
  top: 4px;
                }

#fp4_inset div 
{ 
  font: 12px/1.6 Verdana, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
  text-align: right;
  }

.fp4_link 
{ 
  color: darkorange;
  text-decoration: none;
  }

.fp4_subtitle 
{
  float: right;
  color: #666;
  margin: 0px 25px 0px 0px;
  }

.fp4_benefits 
{ 
  background: url(http://files.hypernumbers.com/redesign/tick.png) no-repeat;
  padding: 0px 0px 0px 20px;
  color: #333333;
  font: 16px/1.2 Verdana, Tahoma, sans-serif;
  clear: both;
  }

.fp4_comments 
{ 
  color: #999999;
  padding: 0px 0px 6px 20px;
  font: 14px/1.2 Verdana, Tahoma, sans-serif;
  font-style: italic;
  float: left;
  }

#fp4_learnmore 
{ 
  font: 14px/1.2 Verdana, Tahoma, sans-serif;
  color: #666;
  margin: 10px 0px 10px 0px;
  }

#signupemail 
{
  margin: 15px 0px 0px 70px;
  }

#signupform input 
{
  width: 200px;
  font-size: 150%;
  }

#signupform .button 
{
  font-weight: bold;
  color: darkorange;
  margin: 0px 0px 0px 20px;
  background-color: #FFF;
  background: -webkit-gradient(linear, 0 40%, 0 70%, from(#FFF), to(#EEE));
  background: -moz-linear-gradient(center top , #FFF, #EEE) repeat scroll 0 0 transparent;
  border: 1px solid #bbb;
  padding:7px 13px 7px 13px;    
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius:7px 7px 7px 7px;
  }

#signupdemofeedback 
{ 
  margin: 0px 0px 0px 300px;
  font: 11px/1.2 Verdana, Tahoma, sans-serif;
  }

#signupdemofeedback img
{ 
  -moz-box-shadow: none;
  -webkit-box-shadow: none;

  }

#signupdemoform input
{
  margin: 0px 0px 0px 300px;
  color: white;
  font-size: 200%;
  font-weight: bold;
  background-color: darkorange;
  background: -webkit-gradient(linear, 0 40%, 0 70%, from(orange), to(darkorange));
  background: -moz-linear-gradient(center top , orange, darkorange) repeat scroll 0 0 transparent;
  border: 2px solid #bbb;
  padding: 13px 13px 13px 13px;    
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius:7px 7px 7px 7px;
}

.fp4_headline 
{ 
  color: darkorange;
  font: 18px/1.2 Verdana, Tahoma, sans-serif;
  font-weight: bold;
  padding: 0px 0px 3px 0px;
  }

.fp4_headline2 
{ 
  color: darkorange;
  font: 14px/1.2 Verdana, Tahoma, sans-serif;
  font-weight: bold;
  }

.fp4_leftbox 
{ 
  width: 180px;
  }

.fp4_leftbox2 
{ 
  width: 340px;
  }

.fp4_leftbox, .fp4_leftbox2 
{ 
  float: left;
  padding: 7px 3px 7px 3px;
  }


#fp4_pricing 
{ 
  float: right;
  }

#fp4_pricing  a 
{ 
  font: 14px/1.2 Verdana, Tahoma, sans-serif;
  color: orange;
  font-weight: bold;
  font-variant: smallcaps;
  text-decoration: none;
  }

.fp4_preview 
{ 
  height: 225px;
  width:  400px;
  background-color: #bbbbbb;
  float:left;
  }

.fp4_subhead 
{ 
  font: 18px/1.2 Verdana, Tahoma, sans-serif;
  margin: 0px 0px 8px 0px;
  color: #777;
  }

.fp4_blurb 
{ 
  font: 12px/1.2 Verdana, Tahoma, sans-serif;
  color: #666666;
  padding: 5px 0px 0px 0px;
  }

.fp4_blurb2 
{ 
  font: 14px/1.2 Verdana, Tahoma, sans-serif;
  color: #666666;
  font-weight: bold;
  padding: 5px 0px 0px 0px;
  clear: both;
  }

#fp4_footer 
{
  height: auto;
  }

#fp4_footer td, #fp4_slogan 
{ 
  font: 10px/1.2 Verdana, Tahoma, sans-serif;
  color: #aaa;
  vertical-align: top;
  text-align: left;
  }

#fp4_titles td 
{ 
  font: 12px/1.2 Verdana, Tahoma, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  color: #777;
  }

#fp4_slogan 
{ 
  font: 9px Verdana, Tahoma, sans-serif;
  color: darkorange;
  }

#fp4_seedcamp 
{ 
  background-color: #f9f9f9;
  border: 0px #fff;
  float:right;
  position: relative;
  top: -12px;
  }

.fp4_video 
{ 
  float:right;
  }

.padding 
{ 
  height: 30px;
  }