%%% @author    Gordon Guthrie
%%% @copyright (C) 2011, Hypernumbers Ltd
%%% @doc
%%%
%%% @end
%%% Created :  27 May 2011 by gordon@hypernumbers.com

-module(salts).

-export([
         ivector/0,
         server_key/0,
         server_token_key/0,
         randomsalt/0
        ]).

%% How I generated this for this example file
%% X = crypto:rand_uniform(round(math:pow(2,128)),
%%                         round(math:pow(2,129)-1)),
%% <<X:128>>.
ivector() -> <<73,124,230,244,186,239,42,96,45,239,1,213,41,102,199,151>>.

server_key() -> <<"hey Mikael, stick a string in here">>.

server_token_key() -> <<"and another one should be in here">>.

randomsalt() -> "I use lyrics from songs, but hey!".
